In [1]:
import pandas as pd

import sys
sys.path.insert(0, "./smbox")

from smbox.Utils import Logger
from smbox.Optimise import Optimise
from smbox.smbox_config import smbox_params
from smbox.ParamSpace import rf_default_param_space

In [2]:
logger = Logger()

##---- config
# Define a configuration dict to hold all key information
global config
config = {'dataset_source': 'openml'
    , 'dataset': 38
    , 'algorithm': 'rf'
    , 'search_strategy': 'smbox'
    , 'search_strategy_config': smbox_params
    , 'wallclock': 600
    , 'output_root': '/Users/salhit/development/smbox/smbox/test/resources/output/'
          }
logger.log(f'Experiment Config: {config}', 'DEBUG')
##----

_random_seed = 42

In [3]:
df = pd.read_csv('/Users/salhit/development/smbox/smbox/test/resources/dataset_38.csv')
target_name = 'target'
display(df.head())

y = df[target_name]
X = df.drop(target_name, axis=1)
X.fillna(0, inplace=True)

data = {"X_train": X, "y_train":y}
#data_all = prepare_data(df, target_name, _random_seed, test_size=0.3)

,age,sex,on_thyroxine,query_on_thyroxine,on_antithyroid_medication,sick,pregnant,thyroid_surgery,I131_treatment,query_hypothyroid,...,TT4_measured,TT4,T4U_measured,T4U,FTI_measured,FTI,TBG_measured,TBG,referral_source,target
0,41.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,125.0,0.0,1.14,0.0,109.0,0.0,NaN,0.0,0
1,23.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,102.0,1.0,NaN,1.0,NaN,0.0,NaN,1.0,0
2,46.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,109.0,0.0,0.91,0.0,120.0,0.0,NaN,1.0,0
3,70.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,175.0,1.0,NaN,1.0,NaN,0.0,NaN,1.0,0
4,70.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,61.0,0.0,0.87,0.0,70.0,0.0,NaN,2.0,0

In [ ]:
# use default hperparameter search space
cfg_schema = rf_default_param_space

logger.log(f'-------------Starting SMBOX')
logger.log(f'Initial configuration schema: {cfg_schema}', 'DEBUG')

optimiser = Optimise(config, _random_seed)
best_parameters = optimiser.SMBOXOptimise(data, cfg_schema)